---
interface Props {
  padding?: boolean;
}

const { padding = false } = Astro.props;
---

<div
  class:list={[
    "container__sm",
    {
      padding: padding,
    },
  ]}
>
  <slot />
</div>

<style lang="scss">
  .container__sm {
    display: grid;
    max-width: 857px;
    margin: 0 auto;

    &.padding {
      padding: var(--padding);
    }
  }
</style>
