---
import HelpGrid from "../Components/Organisms/HelpGrid.astro";
import MainBlock from "../Components/Organisms/MainBlock.astro";
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Lustral, wedding planner">
  <section style="margin-top: 50px;">
      <MainBlock
      title="¿Como podemos ayudarte?"
      subtitle="Encuentra temas de ayuda"
      noButton
    />

  </section>
  <section>
    <HelpGrid />
  </section>
  
</Layout>
