---
import ContainerMd from "../Components/Containers/ContainerMd.astro";
import ListLeft from "../Components/Molecules/ListLeft.astro";
import ListRight from "../Components/Molecules/ListRight.astro";
import MainBlock from "../Components/Organisms/MainBlock.astro";
import Politics from "../Components/Organisms/Politics.astro";
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Lustral, wedding planner">
  <section>
    <MainBlock
      title="Todos tus eventos en la palma de tu mano"
      subtitle="Con Lustrall crea, organiza, confirma. Hazlo todo desde tu teléfono."
    />
  </section>
  <section>
    <div class="bigContainer">
      <img
        class="mainImage"
        src="/images/Frame.svg"
        alt=""
        style="aspect-ratio: 9/6; width: 100%"
      />
    </div>
  </section>
  <section>
      <MainBlock
        title="Conviertete en tu propio planner"
        subtitle="Conoce todo lo que puedes hacer con Lustrall"
        noButton
      />
  </section>
  <section>
    <ListLeft
      title="Crea tu propia Landing Page para tu evento"
      subtitle="A subheading for this section, as long or as short as you like"
      image="/images/landing.svg"
    />
    <ListRight
      title="Decide cuantos boletos crear"
      subtitle="A subheading for this section, as long or as short as you like"
      image="/images/boletos.svg"
    />
    <ListLeft
      title="Recive notificaciones"
      subtitle="A subheading for this section, as long or as short as you like"
      image="/images/notificaciones.svg"
    />
    <ListRight
      title="Con lector integrado QR"
      subtitle="A subheading for this section, as long or as short as you like"
      image="/images/qrintegrado.svg"
    />
  </section>
  <section style="position: relative;">
    <MainBlock
      title="Empieza a planear tu evento"
      subtitle="Ya disponible en tu store de aps favorita"
      />
      <img src="/images/signature.svg" alt="" style="position:absolute; top:20px">
  </section>
  </section>
  <section>
    <div style="position: relative;">
      <img class="signatureImg" src="/Frame.png" alt="" />
    </div>
  </section>
  <section style=" margin: 400px 0">
      <Politics />
  </section>
</Layout>

<style>
  section {
    margin: 50px 0;
  }

  .bigContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
	padding: 0 80px;
  }

  .signatureImg {
    position: absolute;
    top: -300px;
    z-index: -1;
  }
</style>
