---
const { title, subtitle, image } = Astro.props;
---

<div class="bigContainer">
  <div class="listItem">
    <div class="infoCont">
      <div class="info">
        <h1>{title}</h1>
        <p>{subtitle}</p>
      </div>
    </div>
    <div class="image">
      <img src={image} alt="" />
    </div>
  </div>
</div>

<style lang="scss">
  .bigContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .listItem {
    justify-self: center;
    margin: 100px 30px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .infoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .info {
      width: 80%;
      text-align: left;

      h1 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 24px;
      }
      p {
        color: #828282;
        font-size: 24px;
        font-family: "Plus Jakarta Sans";
      }
    }
  }
  .image {
    margin: 0 auto;
    height: 400px;
    @media (max-width: 1270px) {
        height: 320px;
    }
    @media (max-width: 1015px) {
        height: 270px;
    }

    img {
      aspect-ratio: 9/6;
      height: 100%;
    }
  }

  @media (max-width: 970px) {
    .listItem {
      margin-top: 50px;
      grid-template-columns: 100%;
      grid-template-rows: 2fr 3fr;
    }
    .infoCont{
      justify-content: center;
      align-items: center;
    }
    .image{
      height: 400px;
    }
  }

  @media (max-width: 768px) {
  .listItem {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .infoCont {
    align-items: center;
  }

  .info {
    width: 100%;
  }

  .image {
    margin-top: 20px;
    height: 300px;
  }
}

</style>
