<footer class="footer">
    <div class="footer-column">
      <img src="/images/LustralLogo.svg" alt="Logo Lustral" class="footer-logo" />
      <div class="social-icons">
        <img src="/images/icons/Tiktok.svg" alt="TikTok" />
        <img src="/images/icons/Instagram.svg" alt="Instagram" />
      </div>
      <p>© Copyright Lustrall 2024</p>
    </div>
  
    <div class="footer-column">
      <h3>Encuéntranos en</h3>
      <div class="store-links">
        <img src="/images/playstore.webp" alt="Google Play Store" class="appstore" />
        <img src="/images/appstore.webp" alt="Apple App Store" class="appstore" />
      </div>
    </div>
  
    <div class="footer-column">
      <h3>Secciones</h3>
      <ul>
        <li><a href="/ayuda">Centro de ayuda</a></li>
        <li><a href="/eula">EULA</a></li>
        <li><a href="/privacidad">Política de privacidad</a></li>
      </ul>
    </div>
  
    <style>

      .appstore{
        height: 50px;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;
        background-color: #f8f8f8;
        border-top: 1px solid #ddd;
      }
  
      .footer-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
      }
  
      .footer-logo {
        width: 100px;
      }
  
      .social-icons img {
        width: 20px;
        margin: 0 10px;
      }

      .store-links{
        display: flex;
        gap: 20px;
      }
  
      .store-links img {
        width: 150px;
        margin: 10px 0;
      }
  
      ul {
        list-style: none;
        padding: 0;
      }
  
      ul li {
        margin-bottom: 10px;
      }
  
      ul li a {
        text-decoration: none;
        color: #333;
      }
  
      /* Estilos para móviles */
      @media (max-width: 768px) {
        .footer {
          font-size: 20px;
          flex-direction: column;
          align-items: center;
        }
  
        .footer-column {
          margin-bottom: 40px;
        }

        .store-links{
          flex-direction: column;
          gap: 0px;
        }
      }
    </style>
  </footer>
  