---
import EulaIcon from "../Icons/EulaIcon.astro";
import PoliticsIcon from "../Icons/PoliticsIcon.astro";
---

<div class="bigContainer">
  <div class="politicsCont">
    <h1>Políticas</h1>
    <div class="flexContainer">
      <div class="card">
        <EulaIcon />
        <h2>EULA</h2>
        <p>
          Aquí puedes leer los términos y condiciones de uso para nuestra App
          Lustrall.
        </p>
      </div>
      <div class="card">
        <PoliticsIcon />
        <h2>Política de privacidad</h2>
        <p>
          Conoce nuestra política de privacidad para estar enterado del uso que
          damos a tus datos.
        </p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .bigContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
  }
  body {
  }
  .politicsCont {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media(max-width: 1170px){
      align-items: center;
    }
  }
  .flexContainer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .card {
      width: 515px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media(max-width: 1270px){
        width: 450px;
      }

    }

    @media (max-width: 1170px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }
  h1 {
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-weight: 600;
  }
  h2 {
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-family: "Plus Jakarta Sans";
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }

  @media (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
    gap: 30px;
  }

  .card {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

</style>
